.black {
  color: black !important;
}

.link:hover {
  color: black;
  text-decoration: none;
}

.btn {
  background-color: #516cf0 !important;
  width: 120px;
  height: 40px;
  border: none !important;
}

.btn:hover {
  background-color: #fe8402 !important;
  border: none !important;
}

.navbar {
  height: 70px;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.navbar-logo {
  height: 30px;
}

.navbar-toggler {
  border: none;
}

.navbar-nav {
  display: flex; /* This ensures the items are in a row */
  justify-content: flex-end; /* Aligns items to the right */
  align-items: center; /* Vertically center the items */
  margin-left: auto; /* To ensure the links are on the right side */
}

.navbar-nav .nav-link {
  color: #333;
  font-weight: 500;
  margin-right: 20px; /* Spacing between navbar items */
}

.navbar-collapse {
  background-color: white;
  padding: 10px 0;
}

@media (max-width: 991px) {
  .navbar-collapse {
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .btn {
    margin-top: 10px;
  }

  /* Stack items vertically on smaller screens */
  .navbar-nav {
    flex-direction: column; /* Stacks the items */
    align-items: center; /* Centers items vertically */
  }

  .navbar-nav .nav-link {
    margin-right: 0;
    margin-bottom: 10px; /* Space between items */
  }
}

@media (min-width: 992px) {
  /* Ensure navbar items stay in one row on large screens */
  .navbar-nav {
    display: flex; /* Ensures the items are in a row */
    justify-content: flex-end; /* Aligns items to the right */
    align-items: center; /* Ensures vertical centering */
  }

  .navbar-nav .nav-link {
    margin-right: 30px; /* Adequate spacing between items */
  }
}
